.sidebar
  .sidebar__name
    .top-items
      .top-items__user-name
        aa
      .top-items__icons
        = link_to "#" do
          = icon('far', 'edit', class: "edit")
        = link_to "#" do
          = icon("fas", "cog", class: "cog")
  .sidebar__group-list
    .group
      .group__name
        ss
      .group__message
        まだメッセージがありません
    .group
      .group__name
        dd
      .group__message
        あああああ
    .group
      .group__name
        ff
      .group__message
        まだメッセージがありません